<div class="d-flex flex-column flex-md-row vh-100 w-100">
  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column p-3 bg-dark text-white" [class.collapsed]="isCollapsed">
    <button class="btn btn-link text-white ms-auto mb-3" (click)="toggleSidebar()">
      <i class="bi" [class.bi-arrow-left-square]="!isCollapsed" [class.bi-arrow-right-square]="isCollapsed"></i>
    </button>

    <!-- Sidebar nav/content -->
    @if (!isCollapsed) {
      <nav class="flex-grow-1">
        <ul class="list-unstyled ps-0">
          <li>
            <a routerLink="dashboard"
               class="text-white text-decoration-none d-block py-2"
               (click)="isCollapsed = true">Dashboard</a>

            <a routerLink="categories"
               class="text-white text-decoration-none d-block py-2"
               (click)="isCollapsed = true">Categories</a>

            <a routerLink="products"
               class="text-white text-decoration-none d-block py-2"
               (click)="isCollapsed = true">Products</a>

            <a routerLink="users"
               class="text-white text-decoration-none d-block py-2"
               (click)="isCollapsed = true">Users</a>

            <a routerLink="orders"
               class="text-white text-decoration-none d-block py-2"
               (click)="isCollapsed = true">Orders</a>

            <a href="#"
               class="text-white text-decoration-none d-block py-2"
               (click)="logout()">Log out</a>
          </li>
        </ul>
      </nav>
    }
  </div>

  <!-- Main Content -->
  <div class="content flex-grow-1 p-4 bg-light overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
