<h2>Categories List</h2>

@if (message != null) {
  alert(message);
}

@if (isAddSupported) {
  <button type="button"
          (click)="add()">Add new Category</button>
}

@for (category of categories; track category.id) {
  <div>
    <p>
      <strong>ID:</strong> {{ category.id }}
    </p>
    <p>
      <strong>Name:</strong> {{ category.name }}
    </p>

    @if (isUpdateSupported || isDeleteSupported) {
      <div>
        @if (isUpdateSupported) {
          <button type="button"
                  (click)="update(category.id)">Update</button>
        }
        @if (isDeleteSupported) {
          <button type="button"
                  (click)="delete(category.id)">Delete</button>
        }
      </div>
    }
  </div>
}
