<h2>Products List</h2>

@if (message != null) {
  alert(message);
}

@if (isAddSupported) {
  <button type="button" (click)="addProduct()">Add Product</button>
}

@if (products.length != 0) {
  <h3>Product Count: {{ products.length }}</h3>

  <div>
    @for (product of products; track product.productId) {
      <div>
        <img [src]="product.image" alt="Product image to be displayed"/>

        <h3>{{ product.name }}</h3>

        <p>
          {{ product.description }}
        </p>

        <p>
          <strong>Stock:</strong> {{ product.stock }}
        </p>

        @if (isUpdateSupported) {
          <button type="button"
                  (click)="updateProduct(product)">Update
          </button>
        }

        @if (isDeleteSupported) {
          <button type="button"
                  (click)="deleteProduct(product)">Delete
          </button>
        }
      </div>
    }
  </div>
}
